{% extends "index.html" %}
{% block content %}
    <div style="margin-top:50px;margin-left:5%;">
      <h1>Remiza {{ firestation.stationName }}</h1>
    <p>Lista strażaków:</p>
    <ul>
    {% for firefighter in firefighters %}
        <li>{{ firefighter.firstName }} {{ firefighter.lastName }}, kierowca: {{ firefighter.isDriver }},
        dowódca sekcji: {{ firefighter.isSectionCommander }}, dowódca akcji: {{ firefighter.isActionCommander }}</li>
    {% endfor %}
    </ul>
    </div>
{% endblock %}