<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>ReportHelper</title>
  </head>
  <body>
<nav class="navbar navbar-default navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">ReportHelper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="nav navbar-nav navbar-left">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Strona główna</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={% url 'reports' %}>Raporty</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={% url 'create-report-initial' %}>Nowy raport</a>
      </li>
         <li class="nav-item">
        <a class="nav-link" href={% url 'create-firefighter' %}>Nowy strażak</a>
      </li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
          {% if not request.user.is_authenticated %}
                      <li class="nav-item">
        <a class="nav-link" href={% url 'login' %}>Zaloguj się</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href={% url 'register' %}>Zarejestruj się</a>
      </li>
        {% endif %}
    {% if request.user.is_authenticated %}
        <li class="nav-item">
        <a class="nav-link" href="">Witamy {{ request.user.username }}</a>
        </li>
          <li class="nav-item">
        <a class="nav-link" href={% url "profile" %}>Twoje konto</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href={% url "logout" %}>Wyloguj się</a>
        </li>
    {% endif %}
      </ul>
  </div>
</nav>
{% block content %}
    <h1 style="text-align: center; margin-top:50px;">Witamy na stronie, proszę wybrać odpowiednią sekcję</h1>
  {% endblock %}


  </body>
</html>