{% extends 'index.html' %}

{% block content %}
{% load widget_tweaks %}

    {% if report is not None %}

{% endif %}
    <h1 style="margin:2%; text-align: center">Stwórz/zmodyfikuj nowy raport</h1>
    <h2 style="margin:2%; text-align: center">Remiza: {{ fireStation.stationName }}</h2>
<form method="post" novalidate style="width:60%;margin-left: 20%; margin-bottom: 100px;">
  {% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}
  {% for field in form.visible_fields %}

    <div class="form-group">
    {% if field.field.widget.input_type == "checkbox" %}
              {{ field.label_tag }}
        <div class="form-check">
        {% render_field field  %}
        </div>
    {% elif field.field.widget.input_type == "datetime-local" %}
        {% render_field field class="form-control" %}
    {% else %}
        {{ field.label_tag }}
        {% render_field field class="form-control" %}
    {% endif %}
      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}

  <button type="submit" class="btn btn-primary btn-lg">Zapisz</button>
</form>
    <script defer>

    function updateLocation(){
            var options = {
              enableHighAccuracy: true,
              timeout: 5000,
              maximumAge: 0
            };

            function success(pos) {
              var crd = pos.coords;
              document.getElementById("id_incidentPlace").value = crd.latitude.toFixed(3)+"°N "+ crd.longitude.toFixed(3)+"°E";
            }

            function error(err) {
              console.warn(`ERROR(${err.code}): ${err.message}`);
            }

            navigator.geolocation.getCurrentPosition(success, error, options);
    }

    document.getElementById("id_departureTime").value = "{{ departureTime }}"
    document.getElementById("id_arrivalTime").value = "{{ arrivalTime }}"
    document.getElementById("id_actionEndTime").value = "{{ actionEndTime }}"
    document.getElementById("id_fireStationArrivalTime").value = "{{ fireStationArrivalTime }}"
    document.getElementById("id_driver").value = "{{ driver }}"
    var section = "{{ section }}"
    section = section.split(",")
    for(let firefighter of document.getElementById("id_section").querySelectorAll("li")) {
        if(section.includes(firefighter.innerText.slice(1))) firefighter.firstChild.firstChild.checked = true;
    }
    var drivers = document.getElementById("id_driver")
    var driver = "{{ driver }}"
    for(let potentialDriver of drivers.querySelectorAll("option")) {
        if(potentialDriver.firstChild.textContent === driver) {
            drivers.value = potentialDriver.value;
            break;
        }
    }
    var sectionCommanders = document.getElementById("id_sectionCommander")
    var sectionCommander = "{{ sectionCommander }}"
        for(let potentialSectionCommander of sectionCommanders.querySelectorAll("option")) {
        if(potentialSectionCommander.firstChild.textContent === sectionCommander) {
            sectionCommanders.value = potentialSectionCommander.value;
            break;
        }
    }
    var actionCommanders = document.getElementById("id_actionCommander")
    var actionCommander = "{{ actionCommander }}"
        for(let potentialActionCommander of actionCommanders.querySelectorAll("option")) {
        if(potentialActionCommander.firstChild.textContent === actionCommander) {
            actionCommanders.value = potentialActionCommander.value;
            break;
        }
    }
        document.getElementById("id_incidentPlace").parentNode.innerHTML+="<input type='button' class='btn btn-info' value='Aktualne położenie' onclick='updateLocation()'>"

</script>
{% endblock %}