{% extends 'index.html' %}
{% block content %}
    <h1 style="text-align: center">Szczegóły raportu</h1>
    <div style="margin-left:5%;width:90%;border:1px solid black; padding:1%;text-align: justify;">
        <h3><b>Status raportu: {% if report.isLocked %} <span style="color: red; ">ZAMKNIĘTY </span> {% else %} OTWARTY{% endif %}</b></h3>
        <p><a class="btn btn-primary" href="{% url 'render-to-pdf' pk=report.pk %}">Pobierz raport w formacie PDF</a></p>
        <p><a class="btn btm-primary" href="{% url 'modify-report' pk=report.pk %}">Modyfikuj raport</a></p>
        <p><b>ID remizy:</b> {{ report.stationid }}</p>
        <p><b>ID raportu:</b> {{ report.reportid }}</p>
        <p><b>Czas wyjazdu:</b> {{ report.departureTime }}</p>
        <p><b>Czas dotarcia na miejsce:</b> {{ report.arrivalTime }}</p>
        <p><b>Czas zakończenia akcji:</b> {{ report.actionEndTime }}</p>
        <p><b>Czas powrotu do remizy:</b> {{ report.fireStationArrivalTime }}</p>
        <p><b>Typ zdarzenia:</b> {{ report.incidentType }}</p>
        <p><b>Miejsce zdarzenia:</b> {{ report.incidentPlace }}</p>
        <p><b>Dowódca sekcji:</b> {{ report.sectionCommander }}</p>
        <p><b>Dowódca akcji:</b> {{ report.actionCommander }}</p>
    <p><b>Kierowca:</b> {{ report.driver }}</p>
    <p><b>Sekcja:</b>
    <ul>
        {% for firefighter in firefighters %}
            <li style="margin-left:20px;">{{ firefighter }}</li>
        {% endfor %}

    </ul>
    </p>
    <p><b>Sprawca:</b> {{ report.perpetrator }}</p>
    <p><b>Poszkodowany:</b> {{ report.victim }}</p>
    <p><b>Szczegóły zdarzenia:</b> {{ report.details }}</p>
    <p><b>Stan licznika:</b> {{ report.odometer }} km</p>
    <p><b>Odległość od miejsca zdarzenia:</b> {{ report.distance }} km</p>
    </div>
{% endblock %}