{% extends 'index.html' %}
{% block content %}
        <h1 style="text-align: center; margin-top:50px;">Twoje raporty</h1>
    <table  class="table" style="width:90%;margin-left:5%;margin-top:2%;">
  <tr>
      <th>ID raportu</th>
      <th>Miejsce zdarzenia</th>
      <th>Wyjazd</th>
      <th>Przyjazd na miejsce</th>
      <th>Koniec akcji</th>
      <th>Powrót</th>
      <th>Typ zdarzenia</th>
      <th>Więcej</th>
  </tr>
  {% for report in reports %}
      <tr>
      <th>{{ report.reportid }}</th>
      <th>{{ report.incidentPlace }}</th>
      <th>{{ report.departureTime |date:'Y-m-d H:i'}}</th>
      <th>{{ report.arrivalTime |date:'Y-m-d H:i'}}</th>
      <th>{{ report.actionEndTime |date:'Y-m-d H:i'}}</th>
      <th>{{ report.arrivalTime |date:'Y-m-d H:i'}}</th>
      <th>{{ report.incidentType }}</th>
      <th><a href="{% url 'report-details' pk=report.pk %}"> Szczegóły</a></th>
       </tr>
  {% endfor %}
</table>
{% endblock %}